.header {
  position: relative;
  border-bottom: 1px solid #ececec;
}
.site-nav {
  @include flex(space-between, center);
  padding-top: 10px;
  padding-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .site-nav {
    padding-top: 21px;
    padding-bottom: 21px;
  }
  .menu-button {
    display: none;
  }
  .mobile-social__list {
    display: none;
  }
  .mobile-menu {
    @include flex(space-between, center);
    width: 100%;
    margin-left: 88px;
  }
  .site-nav__list {
    display: flex;
  }
  .contacts {
    margin-left: auto;
  }
  .site-nav__item:not(:last-child) {
    margin-right: 50px;
  }
  .site-nav__link {
    position: relative;

    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);

    transition: color var(--timing-fn);

    &:hover,
    &:focus {
      color: var(--accent-text-color);
    }
  }
  .current {
    color: var(--accent-text-color);
    &::after {
      content: '';

      position: absolute;
      left: 0;
      bottom: 0;

      display: block;
      width: 100%;
      height: 4px;
      background-color: var(--accent-text-color);
      border-radius: 2px;
      transform: translateY(25%);
    }
  }
  .contacts__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);

    transition: color var(--timing-fn);

    &:hover,
    &:focus {
      color: var(--accent-text-color);
    }
  }
  .contacts__item {
    display: flex;
    align-items: center;
  }
  .contacts__icon-email,
  .contacts__icon-tel {
    margin-right: 8px;
    fill: currentColor;
  }
  .contacts__link {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .mobile-menu {
    margin-left: 93px;
  }
  .contacts {
    display: flex;
  }
  .contacts__item:not(:last-child) {
    margin-right: 30px;
  }
  .site-nav {
    padding-top: 24px;
    padding-bottom: 25px;
  }
  .contacts__icon {
    margin-right: 10px;
  }
}
