.team {
  background: #f5f4fa;
}
.team__list {
  display: flex;
  justify-content: space-between;
}
.team__item {
  padding-bottom: 30px;
  background-color: var(--reserve-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-item__info {
  margin-top: 30px;
  padding-right: 32px;
  padding-left: 32px;
}
.team-item__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.team-item__position {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-text-color);
}
.team-item__social-list {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}
.social-list__link {
  @include flex(center, center);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;

  transition: color var(--timing-fn), background-color var(--timing-fn);
}
.social-list__link:hover,
.social-list__link:focus {
  background-color: var(--accent-text-color);
  color: var(--reserve-text-color);
}
.social-list__icon {
  fill: currentColor;
}
