.main__btn {
  @include flex(center, center);
  margin: 0 auto;
  padding: 10px 0;
  min-width: 200px;
  min-height: 50px;
  border-radius: 4px;
  border: 1px solid var(--accent-text-color);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--reserve-text-color);
  background-color: var(--accent-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.menu-button {
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
}
